* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background: #FFFFFF url(../images/img01.png) repeat-x;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333333;
}


a {
	text-decoration: none;
	color: #ff8307;
}

a:hover {
	text-decoration: underline;
	color: #000000;
}


#predixio
{
float: left;
height:140px;
width:300px;
}

.alinea{
margin-left:30px;
margin-top:3px;
}

.pseudo_livre
{
  margin-top:15px;
	font-weight:bold;
	color:#ff8307;
}

.pages
{
  text-align:right;
  font:110%;
}

#header {
	width: 1000px;
	height: 140px;
	margin: 0 auto;
}

#logo {
	float: left;
	width: 240px;
	height: 50px;
}

#logo img
{
border:none;
text-decoration:none;
}


#textacc
{
  font-size:medium;
  text-align:justify;
}


#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding-top: 76px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 24px;
	margin-left: 10px;
	padding: 15px;
	background: url(../images/img02.png) repeat-x;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	background-image: url(../images/img03.png);
	color: #FFFFFF;
}

#content {
	width: 1050px;
	margin: 0 auto;
	padding-top: 20px;
}

.post {
}

.post .title {
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 1em;
}

.post .date {
	margin-top: -25px;
	padding-bottom: 10px;
	padding-right: 20px;
	text-align: right;
	font-size: x-small;
}

.post .date .month {
}

.post .date .day {
}

.post .date .year {
}

.post .meta {
	clear: both;
}

.post .meta p {
	margin: 0;
	padding: 10px 20px 40px 20px;
	border-top: 1px dotted #CCCCCC;
	line-height: normal;
	font-size: x-small;
}

.post .story {
	padding: 20px 20px 0 20px;
	background: url(images/img05.jpg) repeat-x;
}



.boxed {
}

.boxed .title {
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 1em;
}

.boxed .content {
	padding: 20px;
	background: url(../images/img05.jpg) repeat-x;
}


.imageSlideshowHolder img
{
		position:absolute;
		left:0px;
		top:0px;
}

.imageSlideshowHolder
{
		margin:5px;	/* "Air" */
		width:290px;	/* Image width */
		height:290px;	/* Image height */		
		position:relative;
    padding:3px;
}


.include
{
	float: left;
	width: 670px;
}


#sidebar {
	float: right;
	width: 360px;
	margin-left:5px;
}

table
{
  margin:auto; 
}
td
{
  text-align:center;
  padding:5px;
}

caption
{
   margin:auto;
   font-weight: bold;
   font-size: 100%;
   color: #FFFFFF;
   background:url(../images/img1b.png) repeat-x;
   margin-bottom: 20px;
   text-align:center;
}

th td
{
margin-left:12px;
}


fieldset {
	border: none;
}

legend {
	display: none;
}

label {
	display: block;
}

input, select, textarea {
	margin-bottom: 10px;
	padding: 2px 5px;
	border: 1px solid #ffb971;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
}

#inputsubmit1
{
	margin: 0;
	padding: 0;
	background: url(../images/img05.jpg) repeat-x;
}

a img
{
border:none;
text-decoration:none;
}

#imgpoker
{
text-align:center;
}

/*legend
{
   color: #e60000;
   font-weight: bold;
   background-color:#ececec;
}

fieldset
{
  	border-style:dotted;
  	border-color:#e60000;
}*/


/* pour le test : */

.include #test
{
	float: left;
	width: 10px;
}


#test	#mainContainer{
		width:900px;
		margin:0 auto;
		margin-top:10px;
		padding:2px;
	}
	
#test	#nom_prof{
		width:737px;
		float:left;
		border:1px solid #000;
		background-color:#E2EBED;
		padding:3px;
		height:90px;
	}
#test	#photo_prof{
		width:800px;
		float:left;
		margin:2px;
		height:500px;
	}	
#test	.dragableBox,.dragableBoxRight{
		width:150px;
		height:20px;
		border:1px solid #000;
		background-color:#FFF;		
		margin-bottom:5px;
		float:left;
		padding:10px;
		font-weight:bold;
		text-align:center;
	}
#test	div.dragableBoxRight{
		height:250px;
		width:170px;
		float:left;
		margin-right:5px;
		padding:5px;
		background-color:#E2EBED;
	}
#test	.dropBox{
		width:190px;
		border:1px solid #000;
		background-color:#E2EBED;
		height:400px;
		margin-bottom:10px;
		padding:3px;
    overflow:auto;
	}		
#test	a{
		color:#F00;
	}
		
#test	.clear{
		clear:both;
	}
	
#test	img{
		border:0px;
	}	
	
#test	.dragableBoxRight img
	{
    width:170px;
    height:200px;
	}


